In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import iplot
import cufflinks as cf
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot

In [8]:
# The official URL for the Our World in Data COVID-19 CSV 
#URL = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv'
df= pd.read_csv('covid_analysis.csv')
# Load a CSV with ISO codes + lat/lon
geo_df = pd.read_csv('geo_code.csv')

# Merge with your COVID data
covid= df.merge(geo_df[['name','latitude', 'longitude']], left_on='location', right_on='name',how='left')

In [4]:
covid.head(100)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,name,latitude,longitude
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,64.83,0.51,41128772,NaN,NaN,NaN,NaN,Afghanistan,33.93911,67.709953
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,64.83,0.51,41128772,NaN,NaN,NaN,NaN,Afghanistan,33.93911,67.709953
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,64.83,0.51,41128772,NaN,NaN,NaN,NaN,Afghanistan,33.93911,67.709953
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,64.83,0.51,41128772,NaN,NaN,NaN,NaN,Afghanistan,33.93911,67.709953
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,64.83,0.51,41128772,NaN,NaN,NaN,NaN,Afghanistan,33.93911,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AFG,Asia,Afghanistan,2020-04-09,274.0,0.0,26.14,5.0,0.0,0.43,...,64.83,0.51,41128772,NaN,NaN,NaN,NaN,Afghanistan,33.93911,67.709953
96,AFG,Asia,Afghanistan,2020-04-10,274.0,0.0,26.14,5.0,0.0,0.43,...,64.83,0.51,41128772,NaN,NaN,NaN,NaN,Afghanistan,33.93911,67.709953
97,AFG,Asia,Afghanistan,2020-04-11,274.0,0.0,26.14,5.0,0.0,0.43,...,64.83,0.51,41128772,NaN,NaN,NaN,NaN,Afghanistan,33.93911,67.709953
98,AFG,Asia,Afghanistan,2020-04-12,521.0,247.0,35.29,15.0,10.0,1.43,...,64.83,0.51,41128772,NaN,NaN,NaN,NaN,Afghanistan,33.93911,67.709953
99,AFG,Asia,Afghanistan,2020-04-13,521.0,0.0,35.29,15.0,0.0,1.43,...,64.83,0.51,41128772,NaN,NaN,NaN,NaN,Afghanistan,33.93911,67.709953

In [25]:
#Checking data types
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429435 entries, 0 to 429434
Data columns (total 70 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    429435 non-null  object
 1   continent                                   402910 non-null  object
 2   location                                    429435 non-null  object
 3   date                                        429435 non-null  object
 4   total_cases                                 411804 non-null  float64
 5   new_cases                                   410159 non-null  float64
 6   new_cases_smoothed                          408929 non-null  float64
 7   total_deaths                                411804 non-null  float64
 8   new_deaths                                  410608 non-null  float64
 9   new_deaths_smoothed                         409378 non-null  float64
 10  total_cases_per_million                     411804 non-null  float64
 11  new_cases_per_million                       410159 non-null  float64
 12  new_cases_smoothed_per_million              408929 non-null  float64
 13  total_deaths_per_million                    411804 non-null  float64
 14  new_deaths_per_million                      410608 non-null  float64
 15  new_deaths_smoothed_per_million             409378 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                39116 non-null   float64
 18  icu_patients_per_million                    39116 non-null   float64
 19  hosp_patients                               40656 non-null   float64
 20  hosp_patients_per_million                   40656 non-null   float64
 21  weekly_icu_admissions                       10993 non-null   float64
 22  weekly_icu_admissions_per_million           10993 non-null   float64
 23  weekly_hosp_admissions                      24497 non-null   float64
 24  weekly_hosp_admissions_per_million          24497 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          85417 non-null   float64
 35  people_vaccinated                           81132 non-null   float64
 36  people_fully_vaccinated                     78061 non-null   float64
 37  total_boosters                              53600 non-null   float64
 38  new_vaccinations                            70971 non-null   float64
 39  new_vaccinations_smoothed                   195029 non-null  float64
 40  total_vaccinations_per_hundred              85417 non-null   float64
 41  people_vaccinated_per_hundred               81132 non-null   float64
 42  people_fully_vaccinated_per_hundred         78061 non-null   float64
 43  total_boosters_per_hundred                  53600 non-null   float64
 44  new_vaccinations_smoothed_per_million       195029 non-null  float64
 45  new_people_vaccinated_smoothed              192177 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  192177 non-null  float64
 47  stringency_index                            196190 non-null  float64
 48  population_density                          360492 non-null  float64
 49  median_age                                  334663 non-null  float64
 50  aged_65_older                               323270 non-null  float64
 51  aged_70_older                               331315 non-null  float64
 52  gdp_per_capita                              328292 non-null  float64
 53  extreme_poverty                             211996 non-null  float64
 54  cardiovasc_death_rate                       328865 non-null  float64
 55  diabetes_prevalence                         345911 non-null  float64
 56  female_smokers                              247165 non-null  float64
 57  male_smokers                                243817 non-null  float64
 58  handwashing_facilities                      161741 non-null  float64
 59  hospital_beds_per_thousand                  290689 non-null  float64
 60  life_expectancy                             390299 non-null  float64
 61  human_development_index                     319127 non-null  float64
 62  population                                  429435 non-null  int64
 63  excess_mortality_cumulative_absolute        13411 non-null   float64
 64  excess_mortality_cumulative                 13411 non-null   float64
 65  excess_mortality                            13411 non-null   float64
 66  excess_mortality_cumulative_per_million     13411 non-null   float64
 67  name                                        358340 non-null  object
 68  latitude                                    358340 non-null  float64
 69  longitude                                   358340 non-null  float64
dtypes: float64(63), int64(1), object(6)
memory usage: 229.3+ MB

In [5]:
covid.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,latitude,longitude
count,4.118040e+05,4.101590e+05,4.089290e+05,4.118040e+05,410608.000000,409378.000000,411804.000000,410159.000000,408929.000000,411804.000000,...,290689.000000,390299.000000,319127.000000,4.294350e+05,1.341100e+04,13411.000000,13411.000000,13411.000000,358340.000000,358340.000000
mean,7.365292e+06,8.017360e+03,8.041026e+03,8.125957e+04,71.852139,72.060828,112096.199420,122.357073,122.713852,835.514337,...,3.106895,73.702098,0.722178,1.520336e+08,5.604765e+04,9.766431,10.925353,1772.666404,19.011198,10.494782
std,4.477582e+07,2.296649e+05,8.661611e+04,4.411901e+05,1368.322990,513.636565,162240.412405,1508.778585,559.701663,1134.932641,...,2.549168,7.387914,0.149237,6.975408e+08,1.568691e+05,12.040658,24.560706,1991.892770,24.340922,74.337956
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.100000,53.280000,0.390000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2936.450000,-40.900557,-177.156097
25%,6.280750e+03,0.000000e+00,0.000000e+00,4.300000e+01,0.000000,0.000000,1916.100000,0.000000,0.000000,24.570000,...,1.300000,69.500000,0.600000,5.237980e+05,1.765000e+02,2.060000,-1.500000,116.875000,4.210484,-55.765835
50%,6.365300e+04,0.000000e+00,1.200000e+01,7.990000e+02,0.000000,0.000000,29145.480000,0.000000,2.790000,295.090000,...,2.500000,75.050000,0.740000,6.336393e+06,6.815200e+03,8.130000,5.660000,1270.800000,17.570692,17.228331
75%,7.582720e+05,0.000000e+00,3.132900e+02,9.574000e+03,0.000000,3.140000,156770.190000,0.000000,56.250000,1283.820000,...,4.210000,79.460000,0.830000,3.296952e+07,3.912804e+04,15.160000,15.575000,2883.025000,40.069099,46.869107
max,7.758668e+08,4.423623e+07,6.319461e+06,7.057132e+06,103719.000000,14817.000000,763598.600000,241758.230000,34536.890000,6601.110000,...,13.800000,86.750000,0.960000,7.975105e+09,1.349776e+06,78.080000,378.220000,10293.520000,71.706936,179.414413

In [6]:
#Converts the 'date' column to the proper datetime format
covid['date'] = pd.to_datetime(covid['date'])

In [7]:
#Removes aggregate rows like "World," "High-income countries,","Asia," etc. leaving only individual country data.
covid_countries = covid.dropna(subset=['continent']).copy()

In [8]:
covid_countries.isnull().sum()

iso_code                                        0
continent                                       0
location                                        0
date                                            0
total_cases                                 11194
                                            ...
excess_mortality                           389499
excess_mortality_cumulative_per_million    389499
name                                        44570
latitude                                    44570
longitude                                   44570
Length: 70, dtype: int64

In [9]:
covid_valid_mortality = covid_countries[
    covid_countries['total_deaths'].notnull() & 
    (covid_countries['total_deaths'] > 0)
].copy()
covid_notnull_mortality = covid_countries[
    covid_countries['total_deaths'].notnull()].copy()

# Sort by location and then by date descending
covid_latest_valid_mortality =covid_valid_mortality.sort_values(by=['location', 'date'], ascending=[True, False])\
               .drop_duplicates(subset=['location'], keep='first')
covid_latest_notnull_mortality =covid_notnull_mortality.sort_values(by=['location', 'date'], ascending=[True, False])\
               .drop_duplicates(subset=['location'], keep='first')

# Keep only the first row for each location (which is the latest date)
#covid_comparison = covid_latest

print(f"Original daily data rows: {len(covid_countries)}")
print(f"Valid comparison table rows (countries): {len(covid_latest_valid_mortality)}")
print(f"Notnull comparison table rows (countries): {len(covid_latest_notnull_mortality)}")

Original daily data rows: 402910
Valid comparison table rows (countries): 226
Notnull comparison table rows (countries): 234

In [10]:
covid_latest_valid_mortality

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,name,latitude,longitude
1673,AFG,Asia,Afghanistan,2024-08-04,235214.0,0.0,0.00,7998.0,0.0,0.0,...,64.83,0.51,41128772,NaN,NaN,NaN,NaN,Afghanistan,33.939110,67.709953
5021,ALB,Europe,Albania,2024-08-04,335047.0,0.0,0.00,3605.0,0.0,0.0,...,78.57,0.80,2842318,NaN,NaN,NaN,NaN,Albania,41.153332,20.168331
6695,DZA,Africa,Algeria,2024-08-04,272139.0,18.0,2.57,6881.0,0.0,0.0,...,76.88,0.75,44903228,NaN,NaN,NaN,NaN,Algeria,28.033886,1.659626
8369,ASM,Oceania,American Samoa,2024-08-04,8359.0,0.0,0.00,34.0,0.0,0.0,...,73.74,NaN,44295,NaN,NaN,NaN,NaN,American Samoa,-14.270972,-170.132217
10043,AND,Europe,Andorra,2024-08-04,48015.0,0.0,0.00,159.0,0.0,0.0,...,83.73,0.87,79843,NaN,NaN,NaN,NaN,Andorra,42.546245,1.601554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419855,VNM,Asia,Vietnam,2024-08-04,11624000.0,0.0,0.00,43206.0,0.0,0.0,...,75.40,0.70,98186856,NaN,NaN,NaN,NaN,Vietnam,14.058324,108.277199
422727,WLF,Oceania,Wallis and Futuna,2024-08-04,3760.0,0.0,0.00,9.0,0.0,0.0,...,79.94,NaN,11596,NaN,NaN,NaN,NaN,Wallis and Futuna,-13.768752,-177.156097
426086,YEM,Asia,Yemen,2024-08-04,11945.0,0.0,0.00,2159.0,0.0,0.0,...,66.12,0.47,33696612,NaN,NaN,NaN,NaN,Yemen,15.552727,48.516388
427760,ZMB,Africa,Zambia,2024-08-04,349842.0,18.0,2.57,4077.0,0.0,0.0,...,63.89,0.58,20017670,NaN,NaN,NaN,NaN,Zambia,-13.133897,27.849332
429434,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,0.0,0.00,5740.0,0.0,0.0,...,61.49,0.57,16320539,NaN,NaN,NaN,NaN,Zimbabwe,-19.015438,29.154857

In [11]:
# 2. Find the MAXIMUM stringency index for each country over the entire period
# The 'stringency_index' column is what we are interested in.
stringency_data = covid_countries.groupby('location')['stringency_index'].max().reset_index()

# Rename columns for clarity in the final map
stringency_data.columns = ['Country', 'Max_Stringency_Index']

# 3. Handle potential NaN values (countries with no data)
stringency_data = stringency_data.dropna(subset=['Max_Stringency_Index'])

In [12]:
stringency_data

         Country  Max_Stringency_Index
0    Afghanistan                 84.26
1        Albania                 89.81
2        Algeria                 92.13
4        Andorra                 56.48
5         Angola                 90.74
..           ...                   ...
235    Venezuela                 97.22
236      Vietnam                 96.30
240        Yemen                 66.67
241       Zambia                 70.83
242     Zimbabwe                 87.96

[185 rows x 2 columns]